// FONTS
$baseFont: 'Open Sans', sans-serif;  // Основной шрифт
$accentFont: 'bebasregular', sans-serif;  // Дополнительный акцентный шрифт Bebas
$accentFontBold: 'bebas_neuebold', sans-serif;  // Дополнительный шрифт bebas_neuebold


// fonts color
$defoltTextColor:#010101;
$headingColor: #000;

// layout section color
$navColor: #0f0f0f;
$inputBoxColor: #1c1c1c;
$footerBgColor: #252525;
$footerLineColor: #303030;

// other color
$accentColor: #4e26fd;
